{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Cambiar Email{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="newEmail">Cambiar email</label>
  <input
    name="newEmail"
    id="newEmail"
    placeholder="{{ request.form['email'] or g.user['email'] }} (email actual)"
    required
  />
  <input type="submit" value="Cambiar" />
</form>
<form action="{{ url_for('auth.delUser')}}" method="post">
  <input
    type="submit"
    id="delUser"
    value="Borrar Usuario"
    onclick="return confirm('Are you sure?');"
  />
</form>
{% endblock %}
